<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <jsp-config>
        <jsp-property-group>
            <description>html encoding</description>
            <display-name>JSPConfig</display-name>
            <url-pattern>*.html</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <context-param>
        <param-name>charset</param-name>
        <param-value>UTF-8</param-value>
    </context-param>
    <!--listener监听器配置-->
    <listener>
        <listener-class>com.bdqn.listener.FirstListener</listener-class>
    </listener>
    <listener>
        <listener-class>com.bdqn.listener.DataSourceListener</listener-class>
    </listener>
    <!--filter的过滤器配置-->
    <filter>
        <filter-name>CharSetFilter</filter-name>
        <filter-class>com.bdqn.filter.CharSetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharSetFilter</filter-name>
        <!--过滤所有的请求-->
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--servlet的配置-->
    <servlet>
        <servlet-name>SublistServlet</servlet-name>
        <servlet-class>com.bdqn.servlet.SublistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HibernateServlet</servlet-name>
        <servlet-class>com.bdqn.servlet.HibernateServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HibernateDataServlet</servlet-name>
        <servlet-class>com.bdqn.servlet.HibernateDataServlet</servlet-class>
        <!--<init-param>位置必须放到第一位-->
        <init-param>
            <param-name>name</param-name>
            <param-value>admin</param-value>
        </init-param>
    </servlet>
    <!--<servlet>
        <servlet-name>HelloServlet</servlet-name>
        <servlet-class>com.bdqn.servlet.HelloServlet</servlet-class>
    </servlet>-->
    <!--<servlet>
        <servlet-name>TopicServlet</servlet-name>
        <servlet-class>com.bdqn.servlet.TopicServlet</servlet-class>
    </servlet>-->
   <!-- <servlet>
        <servlet-name>ReqServlet</servlet-name>
        <servlet-class>com.bdqn.servlet.ReqServlet</servlet-class>
    </servlet>-->
    <servlet-mapping>
        <servlet-name>SublistServlet</servlet-name>
        <url-pattern>/sublist/SublistServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HibernateServlet</servlet-name>
        <url-pattern>/hibernate/HibernateServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HibernateDataServlet</servlet-name>
        <url-pattern>/hibernate/HibernateDataServlet</url-pattern>
    </servlet-mapping>
  <!--  <servlet-mapping>
        <servlet-name>HelloServlet</servlet-name>
        <url-pattern>/hello</url-pattern>
    </servlet-mapping>-->
    <!--<servlet-mapping>
        <servlet-name>TopicServlet</servlet-name>
        <url-pattern>/topicList</url-pattern>
    </servlet-mapping>-->
    <!--<servlet-mapping>
        <servlet-name>ReqServlet</servlet-name>
        <url-pattern>/findTopicList</url-pattern>
    </servlet-mapping>-->
</web-app>